<div class="album-display">
    <div class="card">
        <div class="image-container">
            <img src="../images/omg.jpg">
            <a href="https://ingrv.es/OMG" target="_blank"><i id="play" class="fa-regular fa-circle-play fa-6x"></i></a>
        </div>
        <div class="album-title">
            <h3>NewJeans 'OMG'</h3>
            <h4>Latest Release · Single</h4>
        </div>
    </div>
    <div class="card">
        <div class="image-container">
            <img src="../images/ditto.jpg">
            <a href="https://ingrv.es/Ditto" target="_blank"><i id="play" class="fa-regular fa-circle-play fa-6x"></i></a>
        </div>
        <div class="album-title">
            <h3>NewJeans 'Ditto'</h3>
            <h4>2022 · Single</h4>
        </div>
    </div>
    <div class="card">
        <div class="image-container">
            <img src="../images/1st_album.jpg">
            <a href="https://ingrv.es/NewJeans" target="_blank"><i id="play" class="fa-regular fa-circle-play fa-6x"></i></a>
        </div>
        <div class="album-title">
            <h3>NewJeans 1st EP 'NewJeans'</h3>
            <h4>2022 · Single</h4>
        </div>
    </div>
</div>