<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" href="../images/unnamed.jpg" type = "image/x-icon">
    <script src="https://kit.fontawesome.com/09bad0d065.js" crossorigin="anonymous"></script>
    <title>newjeans.com</title>
</head>

<body>
    <div class="container">
        <div class="content">
            <%- include('navbar') %>
            <div class="headertext">
            <h1>
                <hr>
                Album
                <hr>
            </h1>
            </div>
            <%- include('acard') %>
        </div>
    </div>
    <div class="footer">
        <br>
        <p>Copyright &copy; 2023. All rights reserved.</p>
    </div>
</body>
</html>