<div class="card-wrapper">
    <div class="card">
        <div class="card-container">
            <div class="card-images">
                <img src="../images/minji_profile.jpeg">
            </div>
            <div class="member-name">
                <h2>Minji</h2>
            </div>
        </div>
        <div class="member-detail">
            <div>
                <h4>Stage Name:</h4>
                <p>Minji (민지)</p>
            </div>
            <div>
                <h4>Birth Name:</h4>
                <p>Kim Minji (김민지)</p>
            </div>
            <div>
                <h4>Birthday:</h4>
                <p>May 07, 2004</p>
            </div>
            <div>
                <h4>Zodiac Sign:</h4>
                <p>Taurus</p>
            </div>
            <div>
                <h4>Height:</h4>
                <p>169 cm (5’6”)</p>
            </div>
            <div>
                <h4>Blood Type:</h4>
                <p>A</p>
            </div>
            <div>
                <h4>MBTI Type:</h4>
                <p>ESTJ-T</p>
            </div>
            <div>
                <h4>Nationality:</h4>
                <p>Korean</p>
            </div>
            <div>
                <h4>Representative Emoji:</h4>
                <p>🐻</p>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-container">
            <div class="card-images">
                <img src="../images/Hanni_profile.jpeg">
            </div>
            <div class="member-name">
                <h2>Hanni</h2>
            </div>
        </div>
        <div class="member-detail">
            <div>
                <h4>Stage Name:</h4>
                <p>Hanni</p>
            </div>
            <div>
                <h4>Birth Name:</h4>
                <p>Phạm Ngọc Hân / Hanni Pham</p>
            </div>
            <div>
                <h4>Birthday:</h4>
                <p>October 6, 2004</p>
            </div>
            <div>
                <h4>Zodiac Sign:</h4>
                <p>Libra</p>
            </div>
            <div>
                <h4>Height:</h4>
                <p>161.7 cm (5’3”)</p>
            </div>
            <div>
                <h4>Blood Type:</h4>
                <p>O</p>
            </div>
            <div>
                <h4>MBTI Type:</h4>
                <p>INFP</p>
            </div>
            <div>
                <h4>Nationality:</h4>
                <p>Vietnamese-Australian</p>
            </div>
            <div>
                <h4>Representative Emoji:</h4>
                <p>🐰</p>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-container">
            <div class="card-images">
                <img src="../images/denielle_profile.jpeg">
            </div>
            <div class="member-name">
                <h2>Denielle</h2>
            </div>
        </div>
        <div class="member-detail">
            <div>
                <h4>Stage Name:</h4>
                <p>Danielle (다니엘)</p>
            </div>
            <div>
                <h4>Birth Name:</h4>
                <p>Danielle Marsh / Mo Jihye (모지혜)</p>
            </div>
            <div>
                <h4>Birthday:</h4>
                <p>April 11, 2005</p>
            </div>
            <div>
                <h4>Zodiac Sign:</h4>
                <p>Aries</p>
            </div>
            <div>
                <h4>Height:</h4>
                <p>165 cm (5’5″)</p>
            </div>
            <div>
                <h4>Blood Type:</h4>
                <p>AB</p>
            </div>
            <div>
                <h4>MBTI Type:</h4>
                <p>ENFP</p>
            </div>
            <div>
                <h4>Nationality:</h4>
                <p>Korean-Australian</p>
            </div>
            <div>
                <h4>Representative Emoji:</h4>
                <p>🐶</p>
            </div>
            
        </div>
    </div>
    <div class="card">
        <div class="card-container">
            <div class="card-images">
                <img src="../images/hyein_profile.jpeg">
            </div>
            <div class="member-name">
                <h2>Hyein</h2>
            </div>
        </div>
        <div class="member-detail">
            <div>
                <h4>Stage Name:</h4>
                <p>Hyein (혜인)</p>
            </div>
            <div>
                <h4>Birth Name:</h4>
                <p>Lee Hyein (이혜인)</p>
            </div>
            <div>
                <h4>Birthday:</h4>
                <p>April 21, 2008</p>
            </div>
            <div>
                <h4>Zodiac Sign:</h4>
                <p>Taurus</p>
            </div>
            <div>
                <h4>Height:</h4>
                <p>170 cm (5’7″)</p>
            </div>
            <div>
                <h4>Blood Type:</h4>
                <p>O</p>
            </div>
            <div>
                <h4>MBTI Type:</h4>
                <p>INFP</p>
            </div>
            <div>
                <h4>Nationality:</h4>
                <p>Korean</p>
            </div>
            <div>
                <h4>Representative Emoji:</h4>
                <p>🐣</p>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-container">
            <div class="card-images">
                <img src="../images/haerin_profile.jpeg">
            </div>
            <div class="member-name">
                <h2>Haerin</h2>
            </div>
        </div>
        <div class="member-detail">
            <div>
                <h4>Stage Name:</h4>
                <p>Haerin (해린)</p>
            </div>
            <div>
                <h4>Birth Name:</h4>
                <p>Kang Haerin (강해린)</p>
            </div>
            <div>
                <h4>Birthday:</h4>
                <p>May 15, 2006</p>
            </div>
            <div>
                <h4>Zodiac Sign:</h4>
                <p>Taurus</p>
            </div>
            <div>
                <h4>Height:</h4>
                <p>164.5 cm (5’5”)</p>
            </div>
            <div>
                <h4>Blood Type:</h4>
                <p>B</p>
            </div>
            <div>
                <h4>MBTI Type:</h4>
                <p>ISTP</p>
            </div>
            <div>
                <h4>Nationality:</h4>
                <p>Korean</p>
            </div>
            <div>
                <h4>Representative Emoji:</h4>
                <p>🐹</p>
            </div>
        </div>