<nav class="navbar">
    <ul class="icon">
        <li class="iconli"><a href="https://www.facebook.com/NewJeansAttention/" target="_blank"><i class="fa-brands fa-facebook fa-2x"></i></a></li>
        <li class="iconli"><a href="https://www.instagram.com/newjeans_official/?hl=en" target="_blank"><i class="fa-brands fa-instagram fa-2x"></i></a></li>
        <li class="iconli"><a href="https://twitter.com/NewJeans_ADOR?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" target="_blank"><i class="fa-brands fa-twitter fa-2x"></i></a></li>
    </ul> 
</nav>
<header>
    <h1>
        NewJeans
    </h1>
</header>
<nav class="navbar">
    <ul class="nav1">
        <li><a href="/">Home</a></li>
        <li><a href="profile">Profile</a></li>
        <li><a href="album">Albums</a></li>
        <li><a href="">Merchandise</a></li>
        <li><a href="video">Videos</a></li>
    </ul>
</nav>