<div class="vid-container">
    <div class="video">
        <h class="Vname">Attention</h>
        <div class="v"> <iframe width="560" height="315" src="https://www.youtube.com/embed/js1CtxSY38I" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></div>
       
    </div>
   <div class="video">
        <h class="Vname">Hype Boy</h>   
        <div class="v"><iframe width="560" height="315" src="https://www.youtube.com/embed/11cta61wi0g" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></div>
    </div>
    <div class="video">
        <h class="Vname">Cookie</h>
        <div class="v"><iframe width="560" height="315" src="https://www.youtube.com/embed/VOmIplFAGeg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></div>
    </div>
    <div class="video">
        <h class="Vname">Hurt</h>
        <div class="v"><iframe width="560" height="315" src="https://www.youtube.com/embed/tVIXY14aJms" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></div>
    </div>
    <div class="video">
        <h class="Vname">Ditto</h>
        <div class="v"><iframe width="560" height="315" src="https://www.youtube.com/embed/pSUydWEqKwE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></div>
    </div>
    <div class="video">
        <h class="Vname">OMG</h>
        <div class="v"><iframe width="560" height="315" src="https://www.youtube.com/embed/_ZAgIHmHLdc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></div>
    </div>
</div>


]